[build]
  publish = "."
  command = ""

# Forzar HTTP -> HTTPS (WWW)
[[redirects]]
  from = "http://www.goatify.app/*"
  to = "https://www.goatify.app/:splat"
  status = 301
  force = true

# Forzar sin WWW -> WWW (HTTPS)
[[redirects]]
  from = "https://goatify.app/*"
  to = "https://www.goatify.app/:splat"
  status = 301
  force = true

# Forzar sin WWW + HTTP -> WWW + HTTPS
[[redirects]]
  from = "http://goatify.app/*"
  to = "https://www.goatify.app/:splat"
  status = 301
  force = true
