[build]
  publish = "."

[[redirects]]
  from = "http://goatify.app/*"
  to = "https://www.goatify.app/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://goatify.app/*"
  to = "https://www.goatify.app/:splat"
  status = 301
  force = true
